<div class="d-flex bg-secondary rounded-4">
  <div class="dropdown-container">
    <% Player::LEADERBOARD_STATISTICS.each_key do |key| %>
      <div class="dropdown" data-controller="rotate-icon">
        <a class="btn btn-leaderboard" data-rotate-icon-target="button" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
          <span><%= t(key, scope: "players.show.categories") %></span>

          <div class="icon-container" data-rotate-icon-target="iconContainer">
            <i class="bi bi-chevron-down icon-sm"></i>
          </div>
        </a>

        <ul class="dropdown-menu">
          <% Player::LEADERBOARD_STATISTICS[key].each do |statistic| %>
            <li>
              <%= link_to leaderboard_path(statistic: statistic, time_range: params[:time_range]),
                          class: "dropdown-item",
                          data: { "turbo-prefetch": false } do %>
                <span><%= t(statistic, scope: "activerecord.attributes.player") %></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="dropdown" data-controller="rotate-icon">
      <a class="btn btn-leaderboard" data-rotate-icon-target="button" role="button"
         data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-calendar d-block d-md-none"></i>
        <span class="d-none d-md-inline-block"><%= t("players.index.time_range") %></span>

        <div class="icon-container" data-rotate-icon-target="iconContainer">
          <i class="bi bi-chevron-down icon-sm"></i>
        </div>
      </a>

      <ul class="dropdown-menu">
        <% Player::TIME_RANGES.each do |time_range| %>
          <li>
            <%= link_to leaderboard_path(statistic: params[:statistic], time_range: time_range),
                        class: "dropdown-item",
                        data: { "turbo-prefetch": false } do %>
              <span><%= t(time_range, scope: "players.index.time_ranges") %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
