<div class="<%= [ style, "d-flex flex-column justify-content-between" ].join(" ") %>">
  <span class="d-block text-muted"><%= Player.human_attribute_name(attribute) %></span>

  <div class="d-flex gap-2">
    <span><%= number_with_delimiter(player.public_send(attribute)) %></span>

    <% if display_ratio? %>
      <span><%= display_ratio(player.public_send(:"#{attribute}_ratio")) %></span>
    <% end %>
  </div>

  <div class="d-flex align-items-center gap-2 h-100">
    <% if display_change? %>
      <span class="text-success"><%= number_with_delimiter(past_day_value) %></span>

      <% if display_ratio? %>
        <span class="text-success">
          <%= display_ratio(past_day.public_send(:"#{attribute}_ratio")) %>
        </span>
      <% end %>

      <i class="bi bi-chevron-up icon-sm text-success"></i>
    <% end %>
  </div>
</div>
