<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between gap-3">
      <div class="score-container">
        <%= link_to player_path(player), class: "underlined-link" do %>
          <h4 class="text-truncate mb-0"><%= player.name %></h4>
        <% end %>

        <div class="vr d-none d-md-block"></div>

        <div class="d-flex align-self-md-end gap-3">
          <span><%= category_score %></span>
        </div>
      </div>

      <div class="rank-container">
        <h4 class="mb-0"><%= "##{current_rank}" %></h4>

        <% if score_statistic? && show_player_data? %>
          <%== displayed_rank_change %>
        <% end %>
      </div>
    </div>

    <div class="card-separator"></div>

    <div class="player-card-grid">
      <% if score_statistic? %>
        <% CATEGORY_ATTRIBUTES[category].each do |attribute| %>
          <div>
            <span class="d-block text-muted"><%= Player.human_attribute_name(attribute) %></span>
            <span><%= category_attribute_value(attribute) %></span>
          </div>
        <% end %>
      <% else %>
        <div>
          <span class="d-block text-muted"><%= Player.human_attribute_name(statistic) %></span>
          <span><%= statistic_value %></span>
        </div>

        <div>
          <span class="d-block text-muted"><%= Player.human_attribute_name(category_rounds_played_attribute) %></span>
          <span><%= category_rounds_played_value %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
