<div class="card">
  <div class="card-body leaderboard">
    <div class="leaderboard-header">
      <span class="rank text-muted"><%= t("players.index.rank") %></span>
      <span class="name text-muted"><%= Player.human_attribute_name(:name) %></span>
      <span class="score text-muted"><%= t("players.index.score") %></span>

      <% if score_statistic? %>
        <% CATEGORY_ATTRIBUTES[category].each_with_index do |attribute, index| %>
          <span class="<%= %W[attr-#{index} text-muted].join(" ") %>">
            <%= Player.human_attribute_name(attribute) %>
          </span>
        <% end %>
      <% else %>
        <span class="attr-0 text-muted"><%= Player.human_attribute_name(statistic) %></span>
        <span class="attr-1 text-muted"><%= Player.human_attribute_name(category_rounds_played_attribute) %></span>
      <% end %>
    </div>

    <% players.each_with_index do |player, player_index| %>
      <div class="hr-thin"></div>

      <div class="leaderboard-row">
        <div class="rank">
          <span><%= current_rank(player, player_index) %></span>

          <% if score_statistic? && show_player_data? %>
            <%== displayed_rank_change_for(player, category) %>
          <% end %>
        </div>

        <div class="name text-truncate">
          <%= link_to player_path(player), class: "underlined-link" do %>
            <span><%= player.name %></span>
          <% end %>
        </div>

        <span class="score"><%= category_score(player) %></span>

        <% if score_statistic? %>
          <% CATEGORY_ATTRIBUTES[category].each_with_index do |attribute, attribute_index| %>
            <span class="<%= "attr-#{attribute_index}" %>"><%= category_attribute_value(player, attribute) %></span>
          <% end %>
        <% else %>
          <span class="attr-0"><%= statistic_value(player) %></span>
          <span class="attr-1"><%= category_rounds_played_value(player) %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
