<% if previous_month_logs.any? %>
  <div id="changeLogs" class="accordion accordion-flush">
    <% %i[previous_week previous_month].each do |period| %>
      <% aggregated = public_send(:"#{period}_aggregated_log") %>
      <% target = "#{period}_aggregated_log" %>

      <div class="accordion-item">
        <div class="accordion-header">
          <button class="<%= button_class(period) %>" type="button" data-bs-toggle="collapse"
                  data-bs-target="#<%= target %>">
            <span class="fw-bold"><%= t(period, scope: 'player_logs') %></span>
            <%== score_change(aggregated[:normal_score]) %>
          </button>
        </div>

        <div id="<%= target %>" class="<%= body_class(period) %>" data-bs-parent="#changeLogs">
          <div class="accordion-body">
            <div class="row g-3">
              <% Player::NORMAL_ATTRIBUTES.each do |attribute| %>
                <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
                  <span class="d-block fw-bold"><%= Player.human_attribute_name(attribute) %></span>
                  <div class="d-flex gap-1">
                    <span><%= number_with_delimiter(aggregated[attribute]) %></span>

                    <% if attribute != :rounds_played %>
                      <span class="text-muted">
                        <%= display_ratio(aggregated[attribute].to_f / aggregated[:rounds_played]) %>
                      </span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% ChangeLog::MAX_AMOUNT.times.each do |index| %>
      <% display_date = Date.current - (index + 1).days %>
      <% log = log_map[display_date + 1.day] %>
      <% title = display_date.strftime('%d. %B %Y') %>

      <div class="accordion-item">
        <% if log.present? %>
          <div class="accordion-header">
            <button class="accordion-button collapsed gap-3" type="button" data-bs-toggle="collapse"
                    data-bs-target="#<%= display_date %>">
              <span class="fw-bold"><%= title %></span>
              <%== score_change(log.normal_score) %>
            </button>
          </div>

          <div id="<%= display_date %>" class="accordion-collapse collapse" data-bs-parent="#changeLogs">
            <div class="accordion-body">
              <div class="row g-3">
                <% Player::NORMAL_ATTRIBUTES.each do |attribute| %>
                  <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
                    <span class="d-block fw-bold"><%= Player.human_attribute_name(attribute) %></span>
                    <div class="d-flex gap-1">
                      <span><%= number_with_delimiter(log.public_send(attribute)) %></span>

                      <% if attribute != :rounds_played %>
                        <span class="text-muted"><%= display_ratio(log.public_send(:"#{attribute}_ratio")) %></span>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="accordion-header">
            <button class="accordion-button user-select-text collapsed gap-3" type="button" disabled>
              <i class="bi bi-dash-lg text-muted accordion-button-disabled-icon"></i>
              <span class="fw-bold cursor-text"><%= title %></span>
              <span class="text-muted cursor-text ms-auto"><%= t('player_logs.no_log') %></span>
            </button>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="d-flex flex-column justify-content-center">
    <span class="text-center"><%= t('player_logs.no_logs') %></span>
  </div>
<% end %>
