<div class="d-flex justify-content-between gap-3">
  <div class="score-container">
    <h4 class="text-truncate mb-0"><%= title %></h4>

    <div class="vr d-none d-md-block"></div>

    <div class="d-flex align-self-md-end gap-3">
      <span>
        <%= t("players.show.score", score: number_with_delimiter(player.public_send(:"#{category}_score"))) %>
      </span>

      <% if display_score_change? %>
        <%== score_change %>
      <% end %>
    </div>
  </div>

  <% unless player.disqualified? %>
    <div class="rank-container">
      <h4 class="mb-0"><%= "##{number_with_delimiter(player.public_send(:"#{category}_rank"))}" %></h4>
      <%== displayed_rank_change_for(player, category) %>
    </div>
  <% end %>
</div>
