<div class="d-flex flex-column flex-grow-1 justify-content-center">
  <div class="text-center mb-4 mb-md-5">
    <h1 class="text-primary mb-2"><%= t("players.search.title") %></h1>
    <span><%= t("players.search.subtitle") %></span>
  </div>

  <div class="search-container">
    <%= form_tag search_players_path,
                 method: :get,
                 novalidate: true,
                 data: {
                   controller: "search-validation",
                   action: "submit->search-validation#validate",
                   search_validation_message_value: t("players.search.requirements_html")
                 } do %>
      <div class="search-bar" data-search-validation-target="searchBar">
        <%= text_field_tag :term, nil,
                           required: true,
                           autocomplete: :off,
                           value: @search_term,
                           class: "search-input",
                           placeholder: t("players.search.placeholder"),
                           pattern: PlayersController::SEARCH_TERM_REGEX_JS,
                           minlength: PlayersController::SEARCH_TERM_MIN_LENGTH,
                           maxlength: Player::MAX_NAME_LENGTH,
                           data: { search_validation_target: "input" } %>

        <%= button_tag id: "reset_search", type: :reset, class: "btn btn-search" do %>
          <i class="bi bi-x-lg"></i>
        <% end %>

        <%= button_tag id: "submit_search",
                       type: :submit,
                       class: "btn btn-search",
                       name: nil do %>
          <i class="bi bi-search"></i>
        <% end %>
      </div>
    <% end %>

    <% if @search_term.present? && @search_valid %>
      <% if @search_results.any? %>
        <div class="card">
          <div class="card-body">
            <h4 class="text-center mb-0"><%= t("players.search.results_title") %></h4>

            <div class="card-separator"></div>

            <div class="search-results">
              <% @search_results.each do |result| %>
                <div class="search-result">
                  <%= link_to player_path(result),
                              class: "link-light link-offset-1 link-underline-opacity-50" \
                                " link-underline-opacity-100-hover" do %>
                    <%= result.name %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="d-flex flex-column align-items-center gap-5">
          <span class="text-center"><%= t("players.search.no_results") %></span>
          <%= image_tag "not_found.webp", alt: t("errors.not_found.image_alt"), class: "hero-image" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
