<div class="title-container">
  <h1 class="<%= name_color(@player.name) %> mb-0"><%= @player.name %></h1>

  <% if @player.disqualified? %>
    <div class="disqualified-badge">
      <span class="text-danger fw-bold"><%= t("players.show.disqualified") %></span>
    </div>
  <% end %>
</div>

<div class="d-flex gap-3 mb-4 mb-md-5">
  <span><%= l(@player.registration_date, format: :short) %></span>

  <div class="vr mx-2"></div>

  <span><%= sanitize(humanized_title(@player.title)) %></span>
</div>

<div class="statistics-grid">
  <div class="normal-stats">
    <%= render "players/show/normal_stats", player: @player, previous_day_log: @previous_day_log %>
  </div>

  <div class="racing-stats">
    <%= render "players/show/racing_stats", player: @player, previous_day_log: @previous_day_log %>
  </div>

  <div class="survivor-stats">
    <%= render "players/show/survivor_stats", player: @player, previous_day_log: @previous_day_log %>
  </div>

  <div class="defilante-stats">
    <%= render "players/show/defilante_stats", player: @player, previous_day_log: @previous_day_log %>
  </div>
</div>

<div class="row g-3">
  <div class="col-12">
    <%= render "players/show/change_logs", player: @player, previous_month_logs: @previous_month_logs %>
  </div>
</div>
