<div class="card">
  <div class="card-body">
    <h4 class="text-center mb-0"><%= t("players.show.change_logs") %></h4>

    <div class="card-separator"></div>

    <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between mb-3">
      <ul class="nav nav-underline order-1 order-lg-0" id="changeLogs">
        <li class="nav-item">
          <button id="normalTab" class="nav-link active" type="button" data-bs-toggle="tab"
                  data-bs-target="#normalTabPane">
            <%= t("players.show.categories.normal") %>
          </button>
        </li>
        <li class="nav-item">
          <button id="racingTab" class="nav-link" type="button" data-bs-toggle="tab"
                  data-bs-target="#racingTabPane">
            <%= t("players.show.categories.racing") %>
          </button>
        </li>
        <li class="nav-item">
          <button id="survivorTab" class="nav-link" type="button" data-bs-toggle="tab"
                  data-bs-target="#survivorTabPane">
            <%= t("players.show.categories.survivor") %>
          </button>
        </li>
        <li class="nav-item">
          <button id="defilanteTab" class="nav-link" type="button" data-bs-toggle="tab"
                  data-bs-target="#defilanteTabPane">
            <%= t("players.show.categories.defilante") %>
          </button>
        </li>
      </ul>

      <span class="order-0 order-lg-1 text-muted py-2 py-lg-0">
        <%= t("players.show.last_update", time_ago: time_ago_in_words(player.updated_at)) %>
      </span>
    </div>

    <div id="changeLogTypes" class="tab-content">
      <div id="normalTabPane" class="tab-pane fade show active" role="tabpanel">
        <%= render PlayerLogs.new(@previous_month_logs, type: :normal) %>
      </div>
      <div id="racingTabPane" class="tab-pane fade" role="tabpanel">
        <%= render PlayerLogs.new(@previous_month_logs, type: :racing) %>
      </div>
      <div id="survivorTabPane" class="tab-pane fade" role="tabpanel">
        <%= render PlayerLogs.new(@previous_month_logs, type: :survivor) %>
      </div>
      <div id="defilanteTabPane" class="tab-pane fade" role="tabpanel">
        <%= render PlayerLogs.new(@previous_month_logs, type: :defilante) %>
      </div>
    </div>
  </div>
</div>
