<div class="card">
  <div class="card-body">
    <h4 class="text-center mb-0"><%= t("players.show.mouse") %></h4>

    <div class="card-separator"></div>

    <div class="mb-3">
      <span class="d-block fw-bold"><%= t("players.show.registration_date") %></span>
      <span><%= l(player.registration_date, format: :short) %></span>
    </div>

    <%# TODO: Create a translation file with all the titles with the title code as the key, then use the following
          snippet to call the title: t(player.title, scope: "titles") %>
    <div class="mb-3">
      <span class="d-block fw-bold"><%= Player.human_attribute_name(:title) %></span>
      <span><%= player.title %></span>
    </div>

    <div>
      <span class="d-block fw-bold"><%= t("players.show.level") %></span>
      <div class="d-flex align-items-center gap-3">
        <span><%= player.current_level %></span>
        <div class="progress flex-grow-1 position-relative">
          <span class="position-absolute top-50 start-50 translate-middle">
            <%= [ number_with_delimiter(player.current_experience),
                  number_with_delimiter(player.experience_needed) ].join(" / ") %>
          </span>
          <div class="progress-bar bg-primary overflow-visible"
               style="width: <%= decimal_to_percentage(player.level_progress) %>;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
