<div class="card">
  <div class="card-body">
    <%= render ScoreHeader.new(player, title: t('players.show.categories.normal'), type: :normal) %>

    <div class="card-separator"></div>

    <div class="row g-4 mb-4">
      <div class="col-6 col-md-4 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:saved_mice) %></span>
        <span><%= number_with_delimiter(player.saved_mice) %></span>
      </div>

      <div class="col-6 col-md-4 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:saved_mice_hard) %></span>
        <span><%= number_with_delimiter(player.saved_mice_hard) %></span>
      </div>

      <div class="col-6 col-md-4 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:saved_mice_divine) %></span>
        <span><%= number_with_delimiter(player.saved_mice_divine) %></span>
      </div>

      <div class="col-6 col-md-4 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:saved_mice_without_skills) %></span>
        <span><%= number_with_delimiter(player.saved_mice_without_skills) %></span>
      </div>

      <div class="col-6 col-md-4 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:saved_mice_hard_without_skills) %></span>
        <span><%= number_with_delimiter(player.saved_mice_hard_without_skills) %></span>
      </div>

      <div class="col-6 col-md-4 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:saved_mice_divine_without_skills) %></span>
        <span><%= number_with_delimiter(player.saved_mice_divine_without_skills) %></span>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:rounds_played) %></span>
        <span><%= number_with_delimiter(player.rounds_played) %></span>
      </div>

      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:firsts) %></span>
        <span><%= number_with_delimiter(player.firsts) %></span>
      </div>

      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:cheese_gathered) %></span>
        <span><%= number_with_delimiter(player.cheese_gathered) %></span>
      </div>

      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:bootcamp) %></span>
        <span><%= number_with_delimiter(player.bootcamp) %></span>
      </div>
    </div>
  </div>
</div>
