<div class="card">
  <div class="card-body">
    <%= render ScoreHeader.new(player, title: t('players.show.categories.normal'), type: :normal) %>

    <div class="card-separator"></div>

    <div class="row g-3">
      <%= render PlayerStat.new(player, stat: :saved_mice, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :saved_mice_hard, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :saved_mice_divine, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :saved_mice_without_skills, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :saved_mice_hard_without_skills, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :saved_mice_divine_without_skills, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :shaman_cheese, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :firsts, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :cheese_gathered, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :bootcamp, col_setup: 'col-6 col-md-4') %>
      <%= render PlayerStat.new(player, stat: :rounds_played, col_setup: 'col-6 col-md-4', display_ratio: false) %>
    </div>
  </div>
</div>
