<div class="card">
  <div class="card-body">
    <%= render ScoreHeader.new(player, title: t('players.show.categories.racing'), type: :racing) %>

    <div class="card-separator"></div>

    <div class="row g-3">
      <%= render PlayerStat.new(player, stat: :racing_finished_maps, col_setup: 'col-6 col-md-3') %>
      <%= render PlayerStat.new(player, stat: :racing_podiums, col_setup: 'col-6 col-md-3') %>
      <%= render PlayerStat.new(player, stat: :racing_firsts, col_setup: 'col-6 col-md-3') %>
      <%= render PlayerStat.new(player, stat: :racing_rounds_played,
                                        col_setup: 'col-6 col-md-3',
                                        display_ratio: false) %>
    </div>
  </div>
</div>
