<div class="card">
  <div class="card-body">
    <%= render ScoreHeader.new(player, title: t('players.show.categories.survivor'), type: :survivor) %>

    <div class="card-separator"></div>

    <div class="row g-3">
      <%= render PlayerStat.new(player, stat: :survivor_shaman_rounds, style: 'col-6 col-md-3') %>
      <%= render PlayerStat.new(player, stat: :survivor_mice_killed, style: 'col-6 col-md-3') %>
      <%= render PlayerStat.new(player, stat: :survivor_survived_rounds, style: 'col-6 col-md-3') %>
      <%= render PlayerStat.new(player, stat: :survivor_rounds_played, style: 'col-6 col-md-3', display_ratio: false) %>
    </div>
  </div>
</div>
