<div class="card">
  <div class="card-body">
    <%= render ScoreHeader.new(player, title: t('players.show.categories.survivor'), type: :survivor) %>

    <div class="card-separator"></div>

    <div class="row g-4">
      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:survivor_shaman_rounds) %></span>
        <div class="d-flex gap-1">
          <span><%= number_with_delimiter(player.survivor_shaman_rounds) %></span>
          <span class="text-muted"><%= display_ratio(player.survivor_shaman_rounds_ratio) %></span>
        </div>
      </div>

      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:survivor_mice_killed) %></span>
        <div class="d-flex gap-1">
          <span><%= number_with_delimiter(player.survivor_mice_killed) %></span>
          <span class="text-muted"><%= display_ratio(player.survivor_mice_killed_ratio) %></span>
        </div>
      </div>

      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:survivor_survived_rounds) %></span>
        <div class="d-flex gap-1">
          <span><%= number_with_delimiter(player.survivor_survived_rounds) %></span>
          <span class="text-muted"><%= display_ratio(player.survivor_survived_rounds_ratio) %></span>
        </div>
      </div>

      <div class="col-6 col-md-3 d-flex flex-column justify-content-between">
        <span class="d-block fw-bold"><%= Player.human_attribute_name(:survivor_rounds_played) %></span>
        <span><%= number_with_delimiter(player.survivor_rounds_played) %></span>
      </div>
    </div>
  </div>
</div>
